
img {max-width:100%;}
.wt-menu-horizontal .menu-subtitle{  position: absolute;
  top: 0;
  line-height: 15px;
  margin-top: -20px;
  font-size: 10px;
  padding: 0 4px;text-transform:uppercase;
  background: url(../img/menu_title.png) no-repeat;
  color: #fff;
  right: 0;
  width: 29px;
  height: 18px;
  text-align: center;}
.wt-menu-horizontal li.level-1 .img-icon{max-width:20px;}
.wt-menu-horizontal ul{ margin:0;}
.wt-menu-horizontal .menu-content{position: relative;}
.wt-menu-horizontal li.level-1 {float:left; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.wt-menu-horizontal li.level-1 > a {line-height:42px;padding:0 20px;position:relative; }
.wt-menu-horizontal ul li.level-1 > a{font-family: 'Droid Sans', sans-serif;font-size:14px;font-weight:400;color:#333;}
.wt-menu-horizontal ul li.level-1:hover > a{color:#26a69d; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.wt-menu-horizontal li.level-1{ display: block;}
.cat-drop-menu li {position: relative;}
.wt-menu-horizontal .menu-dropdown li a {padding:8px 0; display: block;}
.wt-menu-horizontal .menu-dropdown li:first-child > a{border-top:none;}
.clearfix {clear:both}
.wt-menu-horizontal ul li.level-1 ul li.item-header a {font-family: 'Droid Sans', sans-serif;font-size:14px;font-weight:400;color:#333;}
.wt-menu-horizontal ul li.item-line a{text-transform: lowercase;}
.wt-menu-horizontal ul li.level-1 ul li a{color:#666666;}
.wt-menu-horizontal ul li.level-1 ul li a:hover{color:#26a69d;}

.wt-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#26a69d;}
#wt-menu-horizontal .container 
{
padding-left:0;
padding-right:0;
}
.html-block img:hover{opacity: 0.7; filter: alpha(opacity=70);transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s; }
.manufacture-menu{text-align:center;}
.wt-menu-horizontal .menu-dropdown ul.ul-column{margin-bottom:12px;margin-top:12px;}
.wt-menu-horizontal .menu-comectic  > .menu-dropdown
{
background:#fff url(../img/bg_menu1.png) no-repeat right top;
}
.cat-drop-menu li  a{margin:0 20px;}
/****reponsive****/
@media (min-width: 768px ) 
{ 
.wt-menu-horizontal	ul.menu-content{
	display: block !important;
	height: auto !important;
 }
.wt-menu-horizontal .menu-dropdown
{
min-height: 50px;
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(0px,20px);
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  transition: opacity 0.5s ease 0s,transform 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s,-moz-transform 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s,-webkit-transform 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s,-ms-transform 0.5s ease 0s;
  visibility: hidden;

}
.wt-menu-horizontal ul li.level-1:hover > .menu-dropdown, .wt-menu-horizontal ul li.level-2:hover > .menu-dropdown
{
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate(0px,0px);
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  -o-transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  visibility: visible;
}
.title-menu-mobile,.icon-drop-mobile{display:none;}
.wt-menu-horizontal ul li.level-1:hover{ transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.wt-menu-horizontal li.level-1{height:42px;}
.wt-menu-horizontal ul li.level-1:hover > a,.wt-menu-horizontal ul li.level-1#more_menu:hover > a {background:#fff;border-bottom:2px solid #26a69d; }
.wt-menu-horizontal li.level-1  > a ,.wt-menu-horizontal li.level-1#more_menu  > a{padding:0 0 11px 0;z-index:1001;margin:0 17px;}
.wt-menu-horizontal .menu-dropdown{position: absolute;z-index: 1000;border: 1px solid #cccccc; background: #fff;}
.cat-drop-menu li {position: relative; width: 220px;}
.wt-menu-horizontal li.level-2 .menu-dropdown{  left: 100%;top: -1px;}
.wt-menu-horizontal .menu-dropdown.wt-sub-right{right:0;}
.wt-menu-horizontal .menu-dropdown.wt-sub-left{left:0;}
.wt-menu-horizontal ul li.level-1 ul li.parent:after{ 
  content: "\f054";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 18px;
  top: 12px;
  font-size: 10px;color:#b3b3b3;
}
#more_menu .menu-dropdown{right:0;}
#more_menu .menu-dropdown  .menu-dropdown{display:none;}


}
@media only screen and (min-width : 768px) and (max-width : 1023px)
{
.wt-menu-horizontal li.level-1 > a ,.wt-menu-horizontal li.level-1#more_menu  > a{margin:0 13px;padding:0 0 9px;}
}
@media only screen and (min-width : 1024px) and (max-width : 1199px)
{
.wt-menu-horizontal li.level-1  > a ,.wt-menu-horizontal li.level-1#more_menu  > a{margin:0 13px;}
}
@media (max-width: 767px ) 
{
.wt-menu-horizontal .menu-dropdown{display:none;}
.wt-menu-horizontal li.level-1{display: block;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 1px solid #f2f2f2;border-left: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2;width:100%;}
.wt-menu-horizontal li.level-1 > a{padding:0;}
.title-menu-mobile span{padding:15px 10px; background: #26a69d; color: #fff;font-family: 'Droid Sans', sans-serif;font-size: 15px;font-weight: 400;display: block;text-transform: uppercase;}
.title-menu-mobile span:after {
 content: "\f039";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
   float:right;
  font-size: 14px;color:#fff; cursor:pointer;
}
.icon-drop-mobile{float:right;}
.icon-drop-mobile:after{ 
  content: "\f067";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 14px;color:#333;cursor:pointer;
}
.icon-drop-mobile.opened:after
{
content:"\f068";
}
.wt-menu-horizontal .menu-dropdown.wt-sub-menu{padding:0;}
.wt-menu-horizontal ul li ul {margin-left:10px;}
.wt-menu-horizontal ul li.level-1 ul li a{color:#333;}
.wt-menu-horizontal ul li.level-1 ul li a:hover{color:#26a69d;}
.wt-menu-horizontal ul li.level-1 ul li.parent:hover:after{color:#26a69d;}
.wt-menu-horizontal ul li.level-1:hover > a{color:#26a69d; transition: all 0.4s ease 0s;  -moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;}
.wt-menu-horizontal .menu-comectic  > .menu-dropdown{background-image:none;}
}
.wt-menu-sticky{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background:#fff;
  border-bottom:1px solid #e7e7e7;
  padding-top: 0 !important;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align:center;
 }
 .wt-menu-sticky.wt-menu-horizontal li.level-1{float:none;display:inline-block;}
 .wt-menu-sticky.wt-menu-horizontal li.level-1 a {text-align:left;}
