/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 10px; }
  .primary_block .product-content {
    display: inline-block;
    background: #fff;
    margin: 0 15px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Droid Sans", sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto; }

a.fancybox-nav {
  outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  background: #fff; }
  @media (max-width: 767px) {
    .pb-left-column #image-block {
      width: 280px;
      margin: 0 auto; } }
  .pb-left-column #image-block img {
    background: #fbfbfb; }
  .pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    line-height: 20px;
    color: #777676;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 0; }
    .pb-left-column #image-block #view_full_size .span_link:after {
      font-family: "FontAwesome";
      color: #c0c0c0;
      font-size: 20px;
      line-height: 22px;
      content: "\f00e";
      font-weight: normal;
      margin: 0 0 0 4px; }
    .pb-left-column #image-block #view_full_size .span_link:hover:after {
      color: #333; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
  position: relative;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .pb-left-column #views_block {
      width: 280px;
      margin-left: 10px auto 0px auto; } }

#thumbs_list {
  overflow: hidden;
  float: left;
  width: 100%; }
  #thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    height: 90px;
    margin-bottom: 0; }
  #thumbs_list li {
    float: left;
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-right: 21px;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 768px) and (max-width: 991px) {
      #thumbs_list li {
        width: 76px;
        height: 76px;
        margin-right: 6px; } }
    #thumbs_list li a {
      display: block;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fbfbfb;
      border: 1px solid #fff; }
      #thumbs_list li a:hover, #thumbs_list li a.shown {
        border: 1px solid #d6d6d6; }
    #thumbs_list li img {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (min-width: 768px) and (max-width: 991px) {
        #thumbs_list li img {
          width: 68px;
          height: 68px; } }

span.view_scroll_spacer {
  float: left;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -66px;
  z-index: 1000;
  top: -54px; }

#view_scroll_left,
#view_scroll_right {
  height: 40px;
  width: 40px;
  text-align: center;
  background: #e5e5e5;
  line-height: 40px;
  font-size: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right {
      margin-top: 28px; } }
  #view_scroll_left:hover,
  #view_scroll_right:hover {
    background-color: #000; }
  #view_scroll_left:before,
  #view_scroll_right:before {
    color: #fff;
    font-family: "FontAwesome";
    font-size: 11px;
    line-height: 40px; }
  #view_scroll_left:hover:before,
  #view_scroll_right:hover:before {
    color: #fff; }

#view_scroll_right {
  left: 50%;
  margin-left: -20px;
  top: -54px;
  position: absolute;
  float: left;
  z-index: 5001; }
  #view_scroll_right:before {
    content: "\f054"; }

#view_scroll_left {
  margin-top: 0; }
  #view_scroll_left:before {
    content: "\f053"; }

.resetimg {
  padding: 0; }
  .resetimg #resetImages i {
    margin-right: 6px; }

@media (min-width: 768px) and (max-width: 991px) {
  .view_scroll_spacer {
    margin-top: 28px; } }

/* link list */
#usefull_link_block {
  float: left;
  margin-bottom: 0;
  list-style-type: none; }
  #usefull_link_block:after {
    display: table;
    content: "";
    clear: both; }
  #usefull_link_block li {
    float: left;
    text-align: center; }
    #usefull_link_block li:first-child {
      margin-right: 10px; }
    #usefull_link_block li a {
      color: #999;
      font-weight: 400;
      position: relative; }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        font-size: 13px;
        text-align: center;
        left: 0;
        font-weight: normal; }
        #usefull_link_block li a:before:hover {
          color: #26a69d; }
      #usefull_link_block li a:hover {
        color: #26a69d; }
    #usefull_link_block li.print a:before {
      font-size: 13px;
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li.sendtofriend a:after {
      font-family: "FontAwesome";
      content: "|";
      font-size: 13px;
      text-align: center;
      right: 0;
      font-weight: normal;
      margin-left: 10px; }
    #usefull_link_block li#left_share_fb {
      clear: both;
      float: none; }
      #usefull_link_block li#left_share_fb a {
        padding-left: 18px; }
      #usefull_link_block li#left_share_fb a:before {
        content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }

/* pb-left-column ****************************************************************************** */
.socialsharing_title {
  margin-top: 15px;
  float: left;
  margin-right: 10px; }
  .socialsharing_title strong {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase; }

.pb-center-column {
  margin-bottom: 30px;
  /* form */ }
  .pb-center-column h1 {
    font-family: Droid Sans, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    margin: 30px 0 15px 0; }
  .pb-center-column p {
    font-size: 13px;
    color: #666;
    margin-bottom: 0px; }
    .pb-center-column p label {
      font-weight: 400;
      color: #666; }
  .pb-center-column #short_description_block {
    color: #666;
    margin-top: 10px; }
    .pb-center-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content {
      padding: 0;
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
        line-height: 18px; }
  .pb-center-column .socialsharing_product button {
    margin-top: 10px;
    margin-right: 7px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .pb-center-column #buy_block {
    margin-top: 10px; }
    .pb-center-column #buy_block label {
      display: inline-block;
      width: 125px;
      font-weight: 700;
      font-size: 12px;
      text-align: right; }
    .pb-center-column #buy_block p.price {
      padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

.comments_note {
  margin-top: 10px; }
  .comments_note .star_content, .comments_note .read_content {
    display: inline-block;
    vertical-align: middle; }

#product p#loyalty {
  padding: 0 0 10px 35px;
  position: relative; }
  #product p#loyalty b {
    color: #333; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 5px;
    left: 0; }

#page .rte {
  word-wrap: break-word;
  line-height: 22px; }
  #page .rte p {
    margin-bottom: 1em;
    min-height: 1px; }
  #page .rte ul, #page .rte ol {
    line-height: 25px; }
  #page .rte img {
    margin-top: 20px; }

#attributes fieldset {
  padding-bottom: 3px; }
  #attributes fieldset label {
    vertical-align: top;
    display: block; }
    #attributes fieldset label.attribute_label {
      margin-top: 9px; }
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .selector {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    #attributes .attribute_list .selector .form-control {
      max-width: 230px; }
      #attributes .attribute_list .selector .form-control option {
        background: #fff;
        color: #666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      float: left;
      margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none;
    margin: 0; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 3px 3px 0;
      border: 1px solid transparent;
      clear: none;
      overflow: hidden;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 25px;
        width: 25px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        cursor: pointer; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          display: block;
          height: 22px;
          width: 22px; }
      #attributes .attribute_list #color_to_pick_list li.selected, #attributes .attribute_list #color_to_pick_list li:hover {
        border: 1px solid #d6d6d6; }

.s_title_block .price {
  margin: 5px 0;
  display: block; }

.product_attributes label {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

.box-cart-bottom {
  padding: 0; }

#short_description_content a,
.page-product-box .rte a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
  text-decoration: none; }

.box-info-product p {
  margin-top: 2px;
  margin-bottom: 2px; }
.box-info-product .exclusive {
  padding: 0;
  border: 1px solid #26a69d;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  display: block;
  background: #26a69d;
  color: #fff; }
  .box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
    height: 51px;
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none; }
  .box-info-product .exclusive span {
    font-weight: 600;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .box-info-product .exclusive:hover {
    background: #fff;
    color: #26a69d; }
    .box-info-product .exclusive:hover span {
      color: #26a69d; }

#productscategory_list {
  background: #fff;
  border-top: 2px solid #26a69d; }

/* table_data_sheet */
.table-data-sheet {
  border: 1px solid #d6d6d6;
  width: 100%;
  background: #fff; }
  .table-data-sheet tr {
    border-top: 1px solid #d6d6d6; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #d6d6d6;
        width: 30%;
        font-weight: 700;
        color: #333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fff;
    color: #333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #d6d6d6;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d6d6;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 11px;
  line-height: 18px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
  margin-bottom: 5px; }
  .accessories-block .product-name a {
    font-size: 14px;
    line-height: 18px;
    color: #333; }
    .accessories-block .product-name a:hover {
      color: #26a69d; }
.accessories-block div ul li a {
  display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
  font-weight: 700; }

/* quantity_wanted */
#quantity_wanted_p input {
  width: 92px;
  height: 35px;
  padding: 0 6px;
  margin-bottom: 5px;
  float: left;
  border: 1px solid #d6d6d6;
  line-height: 35px;
  color: #666; }
#quantity_wanted_p .btn {
  float: left;
  border: 1px solid #d6d6d6; }
  #quantity_wanted_p .btn.product_quantity_up {
    border-left: none;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #quantity_wanted_p .btn.product_quantity_up {
        border: 1px solid #d6d6d6; } }
  #quantity_wanted_p .btn.product_quantity_down {
    border-right: none;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #quantity_wanted_p .btn.product_quantity_down {
        border: 1px solid #d6d6d6;
        margin-bottom: 5px; } }
#quantity_wanted_p label {
  display: block;
  margin-bottom: 4px; }

/* availability_statut */
#availability_statut span.label-success {
  color: #26a69d;
  background: none;
  border: none;
  font-weight: 400; }

#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 160px;
  font-weight: 700;
  font-size: 12px;
  text-align: left; }

#quantityAvailable {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
  line-height: 18px;
  display: inline-block;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  color: #e4752b;
  font-weight: 400; }

#last_quantities {
  margin-left: 7px; }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable span {
  font-weight: 400;
  color: #333; }

/* box-security */
.box-security {
  padding: 19px 19px 6px; }

/* prices */
.content_prices {
  text-align: center;
  color: #26a69d;
  padding: 13px 19px; }

.discount {
  display: none; }

.our_price_display {
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  display: inline-block;
  margin-right: 4px;
  color: #333; }
  .our_price_display .price {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333; }

#old_price {
  font-size: 17px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Droid Sans", sans-serif;
  line-height: 23px; }

#reduction_percent,
#reduction_amount {
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Droid Sans", sans-serif;
  font-size: 21px;
  line-height: 23px;
  color: #fff;
  background: #f13340;
  border: 1px solid #d02a2c;
  display: none !important; }
  .hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
  #reduction_amount {
    display: inline-block; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

.buttons_bottom_block {
  clear: both; }
  .buttons_bottom_block #wishlist_button {
    font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #d6d6d6; }
  #send_friend_form .product p {
    padding: 0;
    color: #333; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #d6d6d6;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #333; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 30px;
        width: 100%;
        border: 1px solid #d6d6d6;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }
  #send_friend_form .product_name {
    font-size: 20px;
    font-weight: 400; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d6d6;
    color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin: 0;
  padding: 20px 0; }

#product.content_only #loyalty {
  margin-top: 10px; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (max-width: 1050px) and (max-width: 479px) {
  #product.content_only div.primary_block,
  #product.content_only section.primary_block {
    margin-left: 0; } }
@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
      width: 90px;
      height: 90px; }
      #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
      #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px; }
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px; } }
  @media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
      width: 100%;
      float: none;
      padding-left: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; } }
  @media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
      margin-top: 10px;
      width: 100%;
      float: none;
      padding-left: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #d6d6d6; }
.ie8 .box-security {
  filter: none; }

/*# sourceMappingURL=product.css.map */
#mailalert_link {
  color: lightseagreen;
}
